// collection
.collection {
    padding: 75px 0px 47px 0px;

    @media (max-width: $md) {
      padding: 47px 0px 19px 0px;
    }
  }
  .collection__title {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 29px 0px;

    @media (max-width: $bigger-xl) {
      font-size: 26px;
    }
  }
  .collection__img-gallery {
    display: flex;
    justify-content: center;
  
    @media (max-width: $lg) {
      overflow-x: auto;
      white-space: nowrap;
      justify-content: unset;
    }
  
    img {
      height: 400px;
      width: 295px;
      padding: 0px 8px;
      object-fit: cover;
  
      @media (max-width: $md) {
        width: 350px;
        padding: 0px 10px;
      }
      @media (min-width: $xl) {
        height: 500px;
        width: 395px;
        padding: 0px 21px;
      }
      @media (min-width: $xl) {
        height: 664px;
        width: 524px;
        padding: 0px 21px;
      }
    }
  }
  .collection__btn-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  